---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Y4p"
  tags="wall of text, text highlight, image"
  description="This is y4p, a wall of text that reveals an image when highlighted"
>
  <h1>hello</h1>
</Layout>
